{add_js file='includes/jquery/jquery.maskedinput.js'}
{literal}
<script>
	$(document).ready(function(){
		
		id_zayavki = $('#time').attr('data-id_1');
		
		//$("#hev_code").mask("99999999?");
		
		//$("#hev_code2").mask("99999999?");
		
		$('.check_code2').click(function(){
			$('#code_2 input[name="id_zayavki"]').val(id_zayavki);
			$('#code_2').submit();
		});
		
		$('.check_code').click(function(){
			$('#hev_code').css("border", "1px solid #000");
			if($('#hev_code').val() != ""){
				$('#code_1 input[name="id_zayavki"]').val(id_zayavki);
				$(this).parent().find('form').submit();
			}
			else{
				$('#hev_code').css("border", "1px solid red");
			}
		});
		
		$('.check_codes').click(function(){
			$('#first_cheack input[name="id_zayavki"]').val(id_zayavki);
			$('#first_cheack').submit();
		});
		
		$('.otmena_obmen').click(function(){
			$('#dell_obmen input[name="id_zayavki"]').val(id_zayavki);
			$('#dell_obmen').submit();
		});
		
	sadasd = $('#time').attr('data-time');
	$('#time').text(sadasd);
	intervalID = setInterval(function() {
		tiktak();	
	}, 60000);
	
		
	});
	

function tiktak(){
	var time = $('#time').text();
	if(time == 1){
		clearInterval(intervalID);
		jQuery.ajax({
			url:     '/components/users/ajax/change_application2.php', //Адрес подгружаемой страницы
			type:     "POST", //Тип запроса
			dataType: "html", //Тип данных
			data: { id_sust_1: $('#time').attr('data-id_1'),
					id_zapusa: $('#time').attr('data-zpus')},
			success: function(response) {
				window.location.href = '/users/'+$('#time').attr('data-login')+'#time_off';
			},
		});
	}
	else{
		time--;
		$('#time').attr('data-time', time);
		$('#time').text(time);
	}
}	
</script>
{/literal}
	
<div id="modal_success" class="modal hide fade" style='width: 557px;'>
	<div class="modal-body" style='padding:20px; border: 5px solid #ccc; text-align: center;'>
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		<span style='position: relative; top: 45%;'>
		<span style='display: inline-block; margin-left: 26px; font-size: 15px;' id="text_span"><u></u></span>
	</div>
</div>
<div class="dell_obmen" style="display:none;">
	<form action="" id="dell_obmen" method="post">
		<input type="hidden" name="opt" value="dell_obmen">
		<input type="hidden" name="id_zayavki" value="">
	</form>
</div>
<a href="#modal_success" role="button" data-toggle="modal" id='modal_success_btn'></a>
<div class="timer_off">
	<p>Время до анулирования заявки.(мин)</p>
	<div class="clock_back" style="margin:auto;">
		<div class="fon_timer"></div>
		<p id="time" class="obr_timer" data-login="{$usr.login}" data-time="{$time_out}" data-id_1="{$number_aplication}" data-zpus="{$id_zapusa}"></p>
	</div>
</div>
{if $expectation}
<div class="main_design">
<div class="design_text">
	<p>Ожидайте подтверждения другого участника обмена<br>При подтвержденни соответствующего этапа вам прийдет сообщение.</p>
	<br>
	<button style="text-transform:uppercase; color:#fff;" class="otmena_obmen" id="delbtn2">Отменить обмен</button>
</div>
</div>
<div id="id_user_redirect" data-id="{$usr.id}"></div>
<script>
setTimeout("document.location.href='/users/"+$('#id_user_redirect').attr('data-id')+"/promo_code.html'", 5000);
</script>
{/if}
{if $result_infa}
<div class="main_design">
<div class="design_text">
	<p>заявка № {$result_infa.id}</p>
	<p><span>Вы отдаете: {$result_infa.money_off} $ на {$result_infa.name_system}.</span>
	<form id="first_cheack" method="post" action="">
		<input type="hidden" name="opt" value="first_cheack">
		<input type="hidden" name="id_zayavki" value="{$result_infa.id}">
	</form>
	</p>
	<br>
	<button style="text-transform:uppercase; margin-right:40px;" id="save_btn" class="check_codes">Подтвердить</button>
	<button style="text-transform:uppercase; color:#fff; margin-left:45px;" class="otmena_obmen" id="delbtn2">Отменить обмен</button>
</div>
</div>
{elseif $infa_on || $infa_off}
<div class="main_design">
<div class="design_text">
	<p style="color:red;">ПРОВОДИТЕ ОПЕРАЦИЮ З КОДОМ ПРОТЕКЦИИ</p>
	<p><span><b>Номер кошелька:</b> {if $infa_on}{$infa_on.score_num}{elseif $infa_off}{$infa_off.score_num}{/if}</span></p>
	<p><span><b>Средства:</b> {if $infa_on}{$infa_on.money_off}{elseif $infa_off}{$infa_off.money_off}{/if} $ на {if $infa_on}{$infa_on.name_system}{elseif $infa_off}{$infa_off.name_system}{/if}</span></p>
	<br>
	<p><span>Введите код протекции: </span>
	<form id="code_1" method="post" action="">
		<input style="border: 1px solid #000;  padding: 1px 10px; width: 100px;" type="text" name="hev_code" id="hev_code">
		<input type="hidden" name="opt" value="code_prot_1">
		<input type="hidden" name="id_zayavki" value="">
	</form>
	</p>
	<button style="text-transform:uppercase; margin-right:40px;" id="save_btn" class="check_code">Подтвердить</button>
	<button style="text-transform:uppercase; color:#fff; margin-left:45px;" class="otmena_obmen" id="delbtn2">Отменить обмен</button>
</div>
</div>


<!--form   method = "post"  action = "https://checkout.okpay.com/" > 
   <input  type = "text"  name = "ok_receiver"  value = "OK564324824" /> 
   <input  type = "text"  name = "ok_item_1_name"  value = "OKPAY Poster" /> 
   <input  type = "text"  name = "ok_item_1_price"  value = "0.02" /> 
   <input  type = "text"  name = "ok_currency"  value = "USD" /> 
   <input  type = "text"  name = "ok_payment_methods"  value = "" />
   <input  type = "image"  name = "submit"  alt = "OKPAY Оплата  "SRC =" https://www.okpay.com/img/buttons/x02.gif "/> 
</form>
<br>
<a href="https://perfectmoney.is/acct/confirm.asp?AccountID=myaccount&PassPhrase=mypassword&Payer_Account=U987654&Payee_Account=U1234567&Amount=1&PAY_IN=1&PAYMENT_ID=1223'" >Perfect Money нерабочая ссылка</a>
<br>
<form id=pay name=pay method="POST" action="https://merchant.webmoney.ru/lmi/payment.asp"> 
<p>пример платежа через сервис Web Merchant Interface</p> <p>заплатить 1 WMZ...</p> 
<p>
  <input type="hidden" name="LMI_PAYMENT_AMOUNT" value="1.0">
  <input type="hidden" name="LMI_PAYMENT_DESC" value="тестовый платеж">
  <input type="hidden" name="LMI_PAYMENT_NO" value="1">
  <input type="hidden" name="LMI_PAYEE_PURSE" value="Z145179295679">
  <input type="hidden" name="LMI_SIM_MODE" value="0"> 
</p> 
<p>
 <input type="submit" value="submit">
 </p> 
</form-->
{*if $sustem_id.id_sys_minus == '4'}
{$name_paym_system_plus}++<br>
{elseif $sustem_id.id_sys_minus == '1'}
{$name_paym_system_plus}+<br>
{elseif $sustem_id.id_sys_minus == '2'}
{$name_paym_system_plus}+<br>
{elseif $sustem_id.id_sys_minus == '3'}
{$name_paym_system_plus}+<br>
{elseif $sustem_id.id_sys_minus == '5'}
{$name_paym_system_plus}+<br>
{elseif $sustem_id.id_sys_minus == '6'}
{$name_paym_system_plus}+<br>
{elseif $sustem_id.id_sys_minus == '7'}
{$name_paym_system_plus}+<br>
{elseif $sustem_id.id_sys_minus == '8'}
{$name_paym_system_plus}+<br>
{elseif $sustem_id.id_sys_minus == '9'}
{$name_paym_system_plus}+<br>
{/if*}

{elseif $code_podtv}

<div class="main_design">
<div class="design_text">
	<p>Подтверждение получения средств</p>
	<p><span>Проверьте или поступили средства на ваш cчет </span></p>
	<p><span>Система: {$code_podtv.name_system_in}; средства: {$code_podtv.money_in} $;</span></p>
	<form id="code_2" method="post" action="">
		<input type="hidden" name="opt" value="code_2">
		<input type="hidden" name="id_zayavki" value="">
	</form>
	</p>
	<button  style="text-transform:uppercase; margin-right:40px;" id="save_btn" class="check_code2">Подтвердить</button>
</div>
</div>
{elseif $heve_money}
<div class="main_design">
<div class="design_text">
	<p>Получение кода протекции</p>
	<p><span>Система: {$heve_money.name_system_in};</span></p>
	<p>Код протекции: <b>{$heve_money.code}</b></p>
</div>
</div>
{/if}


