{add_css file='includes/jquery/ui/jquery-ui.min.css'}
{add_js file='includes/jquery/ui/jquery-ui.min.js'}
{add_js file='includes/jquery/copy/jquery.zclip.js'}
{*add_js file='includes/jquery/copy/ZeroClipboard.js'*}

	{literal}
			<script>
			    $(function() {
					$( "#uitabs" ).tabs();
			    });
			$(document).ready(function(){
				var hash = document.location.hash;
				if(hash == '#INVITE_ERROR'){
					$("#modal_success_btn").click();
					$("#text_span").text("Ошибка отправки приглашения");
					document.location.hash = "";
				}
				if(hash == '#INVITE_SENDED'){
					$("#modal_success_btn").click();
					$("#text_span").text('Приглашение отправлено');
					document.location.hash = "";
				}
			});
			    $(document).ready(function(){
					
					$(".copy_button").zclip({
						path: "/templates/_default_/js/ZeroClipboard.swf",
						copy: function(){
							return $('#refka_span').html();
						},
						afterCopy: function(){
							$("#modal_success_btn").click();
						}
					});
					$(".copy_button1").zclip({
						path: "/templates/_default_/js/ZeroClipboard.swf",
						copy: function(){
							return $('#refka_span1').text();
						},
						afterCopy: function(){
							$("#modal_success_btn").click();
						}
					});
					
					/* $(".copy").zclip({
						path: "/templates/_default_/js/ZeroClipboard.swf",
						copy: function(){
							text = $(this).text();
							return text;
						},
						afterCopy: function(){
							$('#success_copy').fadeIn(1000);
							$('#success_copy').delay(2000).fadeOut(1000);
						}
					}); */
					
					$("#plus_button").click(function(){
						//$("#tables_form table:first-child").clone().insertAfter("#tables_form table:first-child");
						last_table = $("#tables_form table").last();
						$("#tables_form table:first-child").clone().insertAfter(last_table);
						last_last_table = $("#tables_form table").last();
						last_last_table.find(".del_span").parent().css('display', 'inline-block');
						last_last_table.find(".text-input").val('');
					});
					
					$("#tables_form").on("click", ".del_span", function(){
						$(this).parent().parent().parent().parent().remove();
					});
					$('.partner_ul a').click(function(){
						document.location.hash = $(this).attr('href');
						jQuery('html, body').animate({scrollTop: "0px"},1);
					});
				});
			</script>
	{/literal}
	
	<div id="modal3" class="modal hide fade" style='width: 557px;'>
		<div class="modal-body" style='height: 400px; border: 5px solid #ccc;'>
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			<span style='margin-top: 10px; display: inline-block;'>
			<span style='display: inline-block; margin-left: 26px; font-size: 15px;'>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vehicula magna in leo vulputate sollicitudin. Donec quis turpis id ipsum sodales semper. Etiam libero felis, suscipit vitae diam vel, auctor tristique felis. Nam sit amet justo at mi vulputate porttitor. Mauris sodales dignissim tellus et porttitor. Praesent elementum erat turpis, eu suscipit dolor aliquet et. Fusce efficitur et quam sed finibus. Phasellus eu purus a est euismod tincidunt. Ut et accumsan odio. Etiam vitae ante vestibulum, molestie arcu vel, volutpat justo. Donec ut tristique odio. Sed mi urna, sagittis vulputate lorem in, molestie interdum elit. Mauris feugiat, urna consectetur auctor scelerisque, nibh ipsum pretium ex, sit amet interdum lorem nibh in lacus. Cras convallis, massa vitae malesuada ornare, augue quam viverra nisl, a eleifend nisl ipsum in odio. Aenean ullamcorper velit non venenatis faucibus. Etiam id iaculis tortor, non vulputate velit.</span>
		</div>
	</div>
	
	<div id='success_copy' style='display:none;'><span>Вы скопировали ссылку в буфер обмена</span></div>
	<div id="success_copy_b" style="display:none;"></div>
	<div id="modal_success" class="modal hide fade" style='width: 557px;'>
		<div class="modal-body" style='height: 100px; border: 5px solid #ccc; text-align: center;'>
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			<span style='position: relative; top: 45%;'>
			<span style='display: inline-block; margin-left: 26px; font-size: 15px;' id="text_span">Вы скопировали ссылку в буфер обмена</span>
		</div>
	</div>
	<a href="#modal_success" role="button" data-toggle="modal" id='modal_success_btn'></a>
<div id='usr'>
	<div class='head_edit'></div>
	<div id='uitabs'>
	<ul class='partner_ul' style='margin-top: 10px;margin-left: 24px;'>
		<li><a onclick="zapusk_zclip1()" href="#tabss-1">Пригласить друга</a></li>
		<li><a onclick="zapusk_zclip()" href="#tabss-2">История начислений</a></li>
		<li><a onclick="zapusk_zclip()" href="#tabss-3">Клиенты</a></li>
		<li><a onclick="zapusk_zclip()" href="#tabss-4">Статистика</a></li>
		<li><a onclick="zapusk_zclip()" href="#tabss-5">Скидки</a></li>
	</ul>
	{literal}
<script>
//ZeroClipboard.setMoviePath('http://davidwalsh.name/demo/ZeroClipboard.swf');

	/*var clip = new ZeroClipboard.Client();
    clip.setText('Этот текст окажется в буфере');
    clip.glue('#copy_button1');*/
function zapusk_zclip() {
	$('.copy_href').css('visibility', 'visible');
}
function zapusk_zclip1() {
	$('.copy_href').css('visibility', 'hidden');				
}
	
</script>
{/literal}
<div class="copy_href" style="float:right; width: 500px; margin: 10px 26px; padding: 4px; border: 1px solid #ccc; visibility: hidden;">
	<div>
		<div style="float: left; padding-top: 6px;">
			Ваша реферальная ссылка:
		</div>
		<div style='color:#DB0000;padding-left:5px;padding-right:5px; float: left; padding-top: 6px; '>
			<span id='refka_span1'>http://{$smarty.server.SERVER_NAME}/ref/{$usr.id}</span>
		</div>
		<div style="float:right;">
			<button class='copy_button1' id="copy_button1" style='margin-right:3px;margin-top:3px'>Скопировать ссылку</button>
		</div>
	</div>
	<!--div>
		<div style=" float: left; width: 70%;">Последнее зачисление:</div>
		<div style="width: 30%; float: left;">35,43USD</div>
	</div-->
	<div>
		<div style=" float: left; width: 70%;">Всего начислено:</div>
		<div style="width: 30%; float: left;">106,32USD</div>
	</div>
	
</div>
<div id='tabss-1'>
	{foreach key=tid item=art from=$article}
	<span style="position: absolute; width: 94%;">
	{$art.content}
	</span>
	{/foreach}


		<h4 style="margin-top: 88px;">
		Зарегистрировать друга
		</h4>
		<div id='underline'>
			<span>
			
			</span>
		</div>
		
		<p>
		Зарегистрируйте Вашего друга в системе iMoneyBox!
Отправьте любым удобным для Вас способом ссылку, приведенную ниже, и получайте бонусы!</p>
		 <span id='refka_span'>http://{$smarty.server.SERVER_NAME}/ref/{$usr.id}</span>
		 <button class='copy_button' id='copy'>Скопировать</button>
		 
			
		
<h4>Пригласить друга по e-mail</h4>
		<div id='underline'>
			<span>
			
			</span>
		</div>
{literal}
<script>
	function validateForm()	{
		$("#tables_form input").css("border", "1px solid black" );
		proverka = 0;
		$('.fio_table').each(function(){
			nick = $(this).find('input[name="fio[]"]').val();
			email = $(this).find('input[name="invite_email[]"]').val();
			atpos=email.indexOf("@");
			dotpos=email.lastIndexOf(".");
			if (nick == null || nick == "" || email == null || email == "" || atpos<1 || dotpos<atpos+2 || dotpos+2>=email.length )
			{
				if (nick == null || nick == "")
				{
					$(this).find('input[name="fio[]"]').css("border", "1px solid red" );
				}
				if (email == null || email == "")
				{
					$(this).find('input[name="invite_email[]"]').css("border", "1px solid red" );
				}
				if (atpos<1 || dotpos<atpos+2 || dotpos+2>=email.length)
				{
					$(this).find('input[name="invite_email[]"]').css("border", "1px solid red" );
				}
				proverka = 1;
			}
		});
		if(proverka == '0'){$('#tables_form button[name="send_invite"]').trigger('click');}
		
			
		}
		function zclip() {
			$(".copy_button").trigger('click');
			alert('klick');
		}
</script>
{/literal}
		
<form method="post" action="" id="tables_form">
	<table class='fio_table' data-id=''>
	    <tr>
			<td>Укажите ФИО друга</td>
			<td><input type="text" name="fio[]" class="text-input" value=""/></td>
	    </tr>
		<tr>
			<td>Укажите e-mail Вашего друга</td>
			<td>
				<input type="hidden" name="csrf_token" value="{csrf_token}" />
				<input type="text" name="invite_email[]" class="text-input" value="" />
			</td>
			<td rowspan='2' style="display: none;">
				<span class="del_span">удалить</span>
			</td>
		</tr>
	</table>
	<p>*На указанный e-mail Вашему другу будет выслано письмо с приглашением стать клиентом iMoneyBox</p>
	<a href="#modal3" role="button" data-toggle="modal" id='letter_text' style='padding-top: 10px; padding-left: 9px; width: 295px; height: 31px;'>Ознакомиться с текстом письма</a>
	<a id='plus_button'><span id='plusik'>+</span><span>Добавить больше друзей</span></a>
	<div style='text-align: center;' >
		<a style="display: inline-block; cursor:pointer; top: 5px; position: relative;" onclick="validateForm()" id="save3"><span>Отправить письмо</span></a>
		<button name="send_invite" style="display:none;" value="1" id="save3"><span>Отправить письмо</span></button>
		<button id="delbtn3"><span>Отмена</span></button>
	</div>
</form>

</div>

<div id='tabss-2'>

<!--table id='ref_table' >
	<tr>
		<td >Ваша реферальная ссылка:</td>
		<td style='color:#DB0000;padding-left:5px;padding-right:5px'>
			<span id='refka_span1'>http://{$smarty.server.SERVER_NAME}/ref/{$usr.id}</span>
		</td>
		<td>
			<button class='copy_button1' id="copy_button1" style='margin-right:3px;margin-top:3px'>Скопировать ссылку</button>
		</td>	
	</tr>
	<tr>
			<td>Последнее зачисление:</td>
			<td></td>
			<td>35,43USD</td>
	</tr>
	<tr>
		<td>Всего начислено:</td>
		<td></td>
		<td>106,32USD</td>
	</tr>
</table-->
	<p style='clear: both;'>
		<span style='
width: 376px;'>Показывать по <select>
			<option>20</option>
			<option>30</option>
			<option>40</option>
			<option>50</option>
		
		</select> строк	</span>
		
		<span style='float: right;'>Сортировать по <select>
		
			<option>Номеру транзакции</option>
			<option>Дата и время</option>
			<option>Програма</option>
			<option>Сумма</option>
		
		</select></span>
		</p>
					<table id='gen_tab' style='width: 910px;text-align: center;'>	
					<tr>
						<td colspan="4">История начисления</td>
						
					
					</tr>
						<tr  class='gen_tab_tr'>
							<td style='width:168px;'>№ транзакции</td>
							<td style='width:169px;'>Дата и время</td>
							<td style='width:169px;'>Программа</td>
							<td style='width:277px;'>Сумма</td>
						</tr>
						<tr class='gen_tab_tr'>
							<td>111111</td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
						<tr class='gen_tab_tr'>
							<td>111111</td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
						<tr class='gen_tab_tr'>
							<td>111111</td>
							<td></td>
							<td></td>
							<td></td>
							
							
						
						</tr>
				<tr class=''>
					<td></td>
					<td></td>
					<td style='text-align: right;'>ИТОГО:</td>
		
					<td style='background:#cccccc;text-align: center;'> 
								106.32USD
							</td>
				
				</tr>
					</table>
	
</div>


<div id='tabss-3'>
		
	<p style='clear: both;text-align:center'>
Компания “iMoneyBox” предлагает Вам выгодные условия сотрудничества! 
Привлекайте клиентов в компанию “iMoneyBox” и получайте солидный дополнительный доход без вложений!
		</p>
					<table id='gen_tab' style='width: 910px;text-align: center;'>	
					<tr>
						<td colspan="6">Привлеченные клиенты</td>
						
					
					</tr>
						<tr  class='gen_tab_tr'>
							<td style='width:168px;'>№ транзакции</td>
							<td style='width:169px;'>ID</td>
							<td style='width:169px;'>Откуда</td>
							<td style='width:277px;'>Дата регистрации</td>
							<td style='width:277px;'>Профит клиента,USD</td>
							<td style='width:277px;'>Партнерское вознаграждение, USD</td>
						</tr>
						{if $referals}
						{foreach from=$referals key=tid item=result}
						<tr class='gen_tab_tr'>
							<td>{$tid}</td>
							<td>{$result.id_client}</td>
							<td>{$result.country}</td>
							<td>{$result.date_reg}</td>
							<td></td>
							<td>{$result.money}</td>
						</tr>
						{/foreach }						
						{/if}
				<tr class=''>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td style='text-align: right;'>ИТОГО:</td>
		
					<td style='background:#cccccc;text-align: center;'> 
								{if $all_money}{$all_money} USD{/if}
							</td>
				
				</tr>
					</table>
	


</div>

<div id='tabss-4'>
		
	<p style='clear: both;text-align:center'>
Компания “iMoneyBox” предлагает Вам выгодные условия сотрудничества! 
Привлекайте клиентов в компанию “iMoneyBox” и получайте солидный дополнительный доход без вложений!
		</p>
					<table id='gen_tab' style='width: 910px;text-align: center;'>	
					<tr>
						<td colspan="6">Привлеченные клиенты</td>
						
					
					</tr>
						<tr  class='gen_tab_tr'>
							<td style='width:168px;'>№</td>
							<td style='width:169px;'>Сайт</td>
							<td style='width:169px;'>Кол-во переходов</td>
							<td style='width:277px;'>Зарегистрирован</td>
							<td style='width:277px;'>Вводов</td>
							<td style='width:277px;'>Профит, USD</td>
						</tr>
						<tr class='gen_tab_tr'>
							<td>2</td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
						<tr class='gen_tab_tr'>
							<td>3</td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
						<tr class='gen_tab_tr'>
							<td>4</td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
						<tr class=''>
							<td></td>
							<td style='text-align: right;'>Всего:</td>
							<td style='background:#cccccc;text-align: center;border: 1px solid #000;'></td>
							<td style='background:#cccccc;text-align: center;border: 1px solid #000;'></td>
							<td style='background:#cccccc;text-align: center;border: 1px solid #000;'></td>
							<td style='background:#cccccc;text-align: center;border: 1px solid #000;'> 
										106.32USD
							</td>
						</tr>
					</table>
	</div>
	<div id='tabss-5'>
		
	<p style='clear: both;text-align:center'>
Компания “iMoneyBox” предлагает Вам выгодные условия сотрудничества! 
Привлекайте клиентов в компанию “iMoneyBox” и получайте солидный дополнительный доход без вложений!
		</p>
					<table id='gen_tab' style='width: 910px;text-align: center;'>	
					<tr>
						<td colspan="6">Ваши скидки на обмен через сервис</td>
						
					
					</tr>
						<tr  class='gen_tab_tr'>
							<td style='width:168px;'>№</td>
							<td style='width:169px;'>Размер скидки</td>
							<td style='width:169px;'>Действует с</td>
							<td style='width:277px;'>Дата окончания</td>
							<td style='width:277px;'>Действие</td>
						</tr>
						{foreach from=$discounts key=tid item=result}
							<tr class='gen_tab_tr'>
								<td>{$result.id}</td>
								<td>{$result.discount} %</td>
								<td>{$result.date}</td>
								<td>{$result.end_date}</td>
								<td class="td_buttonu"><a href="/users/{$usr.id}/service.html">Перейти к обмену</a></td>
							</tr>
						{/foreach}
					</table>
	</div>
</div>


<div style='margin-bottom:10px;text-align: center;margin-top: 20px;'>
		<a href='/users/{$login}' style='position: relative; display: inline-block; top: 3px; left: 4px;' id="save3"><span>Вернуться в кабинет</span></a>
		<a href="/users/{$user_id}/banners.html" id="delbtn3"><span>Рекламные материалы</span></a>
	</div>
</div>