{literal}
	<script>
		$(document).ready(function(){
			var hash = document.location.hash;
			if(hash == '#save_paym_sys'){
				$("#modal_success_btn").click();
				$("#text_span").text("Номер счета сохранен.");
				document.location.hash = "";
			}
			
			$('.first_label').click(function(){
				data_checed = $(this).parent().find('input').prop("checked");
				if(data_checed == false){
					$(this).parent().find('#first_label').css('background-position', '-1px -34px');
					$(this).parent().find('input').click();
				}
				else{
					$(this).parent().find('#first_label').css('background-position', '-1px -4px');
					$(this).parent().find('input').click();
				}
			});
			$('.second_label').click(function(){
				data_checed = $(this).parent().find('input').prop("checked");
				if(data_checed == false){
					$(this).parent().find('#second_label').css('background-position', '-1px -34px');
					$(this).parent().find('input').click();
				}
				else{
					$(this).parent().find('#second_label').css('background-position', '-1px -4px');
					$(this).parent().find('input').click();
				}
			});
			
			$('.change_score').click(function(){
				csore_us = $(this).attr("data-score");
				$("#modal_success_btn").click();
				$("#text_span").html('<div style="margin-bottom:10px;">Изменить номер счета</div><div><input id="bvbvbv" type="text" value="'+csore_us+'" ><button onClick="change_score()"> Изменить </button> </div>');
			});	
		});
	
	function change_score(){
		score = $('#modal_success').find('#bvbvbv').val();
		$('#hjhjjhj').text(score);
		$('input[name="score"]').val(score);
		$('.close').click();
	}
	
	function validation(){
		$('.design_valid p').css('border', '1px solid #fff');
		if($('#first').prop("checked") == false){ 
			$('#first_label').parent().css('border', '1px solid red');
			return false;
		}
		else{
			return true;
		}
	}	
		
		
	</script>
{/literal}
<div id="modal_success" class="modal hide fade" style='width: 557px;'>
	<div class="modal-body" style='padding:20px; border: 5px solid #ccc; text-align: center;'>
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		<span style='position: relative; top: 45%;'>
		<span style='display: inline-block; margin-left: 26px; font-size: 15px;' id="text_span"><u></u></span>
	</div>
</div>
<a href="#modal_success" role="button" data-toggle="modal" id='modal_success_btn'></a>

{if $inf_application}
<div class="main_design">
<div class="design_text">
	<p>заявка</p>
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec commodo scelerisque lacus, ac pretium arcu pellentesque in. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer vestibulum arcu et porta gravida. Morbi id elit neque. Etiam mauris dolor, interdum a augue vitae, consequat varius sem. Donec eu porttitor ipsum. Ut eget finibus lorem. Sed quis vehicula eros. Nam tristique eu augue ac porta. Praesent commodo luctus orci, eget sagittis mauris venenatis ac.</p>
</div>
<form id="design" action="" method="post" onsubmit="return validation()">
<input type="hidden" name="opt" value="registration">
<input type="hidden" name="payment_user" value="{$inf_application.money_user}"><!-- деньги которые ввел юзер -->
<input type="hidden" name="payment_system_user" value="{$inf_application.id_syst}"><!-- id системы оплаты -->
<input type="hidden" name="user_email" value="{$inf_application.email}">
<input type="hidden" name="user_name" value="{$inf_application.name}">
<input type="hidden" name="user_phone" value="{$inf_application.mobtelephone}">
<input type="hidden" name="your_phone_code" value="{$inf_application.code_phone}">
<input type="hidden" name="score_user" value="{$inf_application.score}">
	<ul style="list-style:none;border-bottom: 1px dashed #ccc;">
		<li>Отдаю:</li>
		<li style="margin-bottom: 30px;">
			<div class="design_img"><img src="{$inf_application.img}"></div>
			<div class="design_inf">
				<div style="padding-top: 10px;">{$inf_application.name_system}: сумма USD - {$inf_application.money_user}</div>
			</div>
		</li>
	</ul>
	<ul style="list-style:none;border-bottom: 1px dashed #ccc;">
		<li>Получаю:</li>
		{foreach key=tid item=system from=$inf_application.masive}
		<li>
			<input type="hidden" name="payment_system[{$system.system_minus}]" value="{$system.name_system}">
			<input type="hidden" name="system_money[{$system.system_minus}]" value="{$system.all_summ}">
			<input type="hidden" name="score[{$system.system_minus}]" value="{$system.score}">
			<div class="design_img"><img src="{$system.img}"></div>
			<div class="design_inf">
				<div>{$system.name_system}: сумма USD - {$system.all_summ}</div>
				<div>Номер счета: {$system.score}</div>
			</div>
		</li>
		{/foreach}
	</ul>
	<ul style="list-style:none;margin-top:20px;">
		<li>Личные данные:</li>
		<li style="margin-bottom: 30px;">
			<span>Ваше имя: {$inf_application.name}</span><br>
			<span>Ваш E-mail: {$inf_application.email}</span><br>
			<span>Ваш телефон: {$inf_application.phone}</span>
			
		</li>
	</ul>
	<div class="design_valid">
		<p>
			<input style="float:left;" type="checkbox" id="first">
			<label id="first_label" class="first_label"></label>
			<label class="first_label" >Подтверждаю корректность указаных реквизитов.</label>
		</p>
	</div>
	<div style="text-align: center;">
		<!--a style="text-transform: uppercase; display: inline-block; padding-top: 8px;" onclick="validation()" id="save_btn">Подтвердить</a-->
		<input style="text-transform: uppercase; float: left;padding-left: 0px; margin-left: 100px;" id="save_btn" type="submit" value="Подтвердить">
		<a id="delbtn2" onclick="location.href='/info/o-nas.html';"><span>Отменить</span></a>
</form>
<!--form style="width: 213px; float: left; " action="/users/{$id}/payment_system.html" method="post">
		<input type="hidden" name="opt" value="history_back">
		<input style="color: #fff;" type="submit" id="delbtn2" value="Назад">
		{foreach key=tid item=system from=$inf_application.masive}
			<input type="hidden" name="system_name[]" value="{$system.name_system}">
		{/foreach}
		<input type="hidden" name="payment_user" value="{$inf_application.money_user}">
		<input type="hidden" name="payment_system_id" value="{$inf_application.id_syst}">
		
</form-->
	</div>
</div>
{elseif $status_application}
<div class="main_design">
	{if $status_application.status == '2'}
	<div class="design_text">
		<p>СОСТОЯНИЕ ЗАЯВКИ</p>
		<p>Заявка выполнена и удалена</p>
	</div>
	<div class="two_batton">
		<a href="/info/o-nas.html" id="save_btn">О нас</a>
		<a href="/" id="delbtn2">На главную</a>
	</div>
	
	{elseif $status_application.status == '0'}
	<div class="design_text">
		<p>СОСТОЯНИЕ ЗАЯВКИ</p>
		<p>Ваш платеж принят ожидайте получение средств</p>
	</div>
	<div class="two_batton">
		<a href="/info/o-nas.html" id="save_btn">О нас</a>
		<a href="/" id="delbtn2">На главную</a>
	</div>
	{else }
	<div class="design_text">
		<p>СОСТОЯНИЕ ЗАЯВКИ</p>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec commodo scelerisque lacus, ac pretium arcu pellentesque in. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer vestibulum arcu et porta gravida. Morbi id elit neque. Etiam mauris dolor, interdum a augue vitae, consequat varius sem. Donec eu porttitor ipsum. Ut eget finibus lorem. Sed quis vehicula eros. Nam tristique eu augue ac porta. Praesent commodo luctus orci, eget sagittis mauris venenatis ac.</p>
	</div>
	<br>
	<ul style="list-style:none;border-bottom: 1px dashed #ccc;" id='status_application'>
		<li>Название системы: <span>{$status_application.name_syst}</span></li>
		<li>Сумма платежа: <span>{$status_application.money} $</span></li>
		<li>Номер счета: <span>{$status_application.score_admin}</span></li>
	</ul>
	<div class="two_batton">
		<a href="#" id="save_btn">Оплатить</a>
		<a href="/info/o-nas.html" id="delbtn2">На главную</a>
	</div>
	{/if}
</div>
{/if}
