{literal}
	<script>
		$(document).ready(function(){
			var hash = document.location.hash;
			if(hash == '#save_paym_sys'){
				$("#modal_success_btn").click();
				$("#text_span").text("Номер счета сохранен.");
				document.location.hash = "";
			}
			
			$('.first_label').click(function(){
				data_checed = $(this).parent().find('input').prop("checked");
				if(data_checed == false){
					$(this).parent().find('#first_label').css('background-position', '-1px -34px');
					$(this).parent().find('input').click();
				}
				else{
					$(this).parent().find('#first_label').css('background-position', '-1px -4px');
					$(this).parent().find('input').click();
				}
			});
			$('.second_label').click(function(){
				data_checed = $(this).parent().find('input').prop("checked");
				if(data_checed == false){
					$(this).parent().find('#second_label').css('background-position', '-1px -34px');
					$(this).parent().find('input').click();
				}
				else{
					$(this).parent().find('#second_label').css('background-position', '-1px -4px');
					$(this).parent().find('input').click();
				}
			});
			
			$('.change_score').click(function(){
				csore_us = $(this).attr("data-score");
				$("#modal_success_btn").click();
				$("#text_span").html('<div style="margin-bottom:10px;">Изменить номер счета</div><div><input id="bvbvbv" type="text" value="'+csore_us+'" ><button onClick="change_score()"> Изменить </button> </div>');
			});	
		});
	
	function change_score(){
		score = $('#modal_success').find('#bvbvbv').val();
		$('#hjhjjhj').text(score);
		$('input[name="score"]').val(score);
		$('.close').click();
	}
	
	function validation(){
		$('.design_valid p').css('border', '1px solid #fff');
		if($('#first').prop("checked") == false){ 
			$('#first_label').parent().css('border', '1px solid red');
			return false;
		}
		else{
			return true;
		}
	}	
		
		
	</script>
{/literal}
<div id="modal_success" class="modal hide fade" style='width: 557px;'>
	<div class="modal-body" style='padding:20px; border: 5px solid #ccc; text-align: center;'>
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		<span style='position: relative; top: 45%;'>
		<span style='display: inline-block; margin-left: 26px; font-size: 15px;' id="text_span"><u></u></span>
	</div>
</div>
<a href="#modal_success" role="button" data-toggle="modal" id='modal_success_btn'></a>

<div class="main_design">
<div class="design_text">
	<p>заявка</p>
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec commodo scelerisque lacus, ac pretium arcu pellentesque in. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer vestibulum arcu et porta gravida. Morbi id elit neque. Etiam mauris dolor, interdum a augue vitae, consequat varius sem. Donec eu porttitor ipsum. Ut eget finibus lorem. Sed quis vehicula eros. Nam tristique eu augue ac porta. Praesent commodo luctus orci, eget sagittis mauris venenatis ac.</p>
</div>
{if $vubor_garanta == '3' && $what_ps != "satndart_ps"}
	{if $what_ps == 'user_ps'}
		
		<form id="design" action="" method="post" onsubmit="return validation()">
			<input type="hidden" name="opt" value="success">
			<input type="hidden" name="payment_user" value="{$payment_user}"><!-- деньги которые ввел юзер -->
			<input type="hidden" name="payment_system_name" value="{$us_sys_name1}"><!-- name системы оплаты -->
			<input type="hidden" name="vubor_garanta" value="{$vubor_garanta}">
			<input type="hidden" name="sell_parts" value="{$sell_parts}">
			<input type="hidden" name="what_ps" value="{$what_ps}">
			<ul style="list-style:none;border-bottom: 1px dashed #ccc;">
				<li>Отдаю:</li>
				<li style="margin-bottom: 15px;">
					<div class="design_inf">
						<div style="padding-top: 10px;">{$us_sys_name1}: сумма USD - {$payment_user}</div>
					</div>
				</li>
			</ul>
			<ul style="list-style:none;">
				<li>Получаю:</li>
				<li>
					<input type="hidden" name="us_sys_name2" value="{$us_sys_name2}">
					<input type="hidden" name="kyrs" value="{$kyrs}">
					<input type="hidden" name="payment_system" value="{$payment_system}">
					<input type="hidden" name="score" value="{$score}">
					<div class="design_inf">
						<div>{$us_sys_name2}: сумма USD - {$payment_system}</div>
						<div style="margin-top:10px;">
						<span class="">Номер счета: <span id="hjhjjhj" style="color:red;">{$score} </span></span>
						</div>
					</div>
				</li>
			</ul>
			<div class="design_valid">
				<p>
					<input style="float:left;" type="checkbox" id="first">
					<label id="first_label" class="first_label"></label>
					<label class="first_label" >Подтверждаю корректность указаных реквизитов.</label>
				</p>
				<p>
					<input style="float:left;" type="checkbox" name="second" id="second">
					<label id="second_label" class="second_label"></label>
					<label class="second_label" >Уведомить контрагента по СМС об оплате(стоимость 0.05 USD)</label>
				</p>
			</div>
			<div style="text-align: center;">
				<!--a style="text-transform: uppercase; display: inline-block; padding-top: 8px;" onclick="validation()" id="save_btn">Подтвердить</a-->
				<input style="text-transform: uppercase; float: left; margin-left: 100px;" id="save_btn" type="submit" value="Подтвердить">
		</form>
		<form style="width: 213px; float: left; " action="/users/{$id}/payment_system.html" method="post">
				<input type="hidden" name="opt" value="history_back">
				<input style="color: #fff;" type="submit" id="delbtn2" value="Назад">
				
				<input type="hidden" name="us_sys_name2" value="{$us_sys_name2}">
				<input type="hidden" name="kyrs" value="{$kyrs}">
				<input type="hidden" name="payment_system" value="{$payment_system}">
				<input type="hidden" name="score" value="{$score}">
				
				<input type="hidden" name="payment_user" value="{$payment_user}"><!-- деньги которые ввел юзер -->
				<input type="hidden" name="payment_system_name" value="{$us_sys_name1}"><!-- name системы оплаты -->
				
				<input type="hidden" name="vubor_garanta" value="{$vubor_garanta}">
				<input type="hidden" name="sell_parts" value="{$sell_parts}">
				<input type="hidden" name="what_ps" value="{$what_ps}">
		</form>
	</div>
	{elseif $what_ps == 'user_st_ps'}
		<form id="design" action="" method="post" onsubmit="return validation()">
			<input type="hidden" name="opt" value="success">
			<input type="hidden" name="payment_user" value="{$payment_user}"><!-- деньги которые ввел юзер -->
			<input type="hidden" name="payment_system_name" value="{$u_system_name}"><!-- name системы оплаты -->
			<input type="hidden" name="vubor_garanta" value="{$vubor_garanta}">
			<input type="hidden" name="sell_parts" value="{$sell_parts}">
			<input type="hidden" name="what_ps" value="{$what_ps}">
			<ul style="list-style:none;border-bottom: 1px dashed #ccc;">
				<li>Отдаю:</li>
				<li style="margin-bottom: 15px;">
					<div class="design_img"><img src="{$u_system_img}"></div>
					<div class="design_inf">
						<div style="padding-top: 10px;">{$u_system_name}: сумма USD - {$payment_user}</div>
					</div>
				</li>
			</ul>
			<ul style="list-style:none;">
				<li>Получаю:</li>
				<li>
					<input type="hidden" name="us_sys_name2" value="{$us_sys_name2}">
					<input type="hidden" name="kyrs" value="{$kyrs}">
					<input type="hidden" name="payment_system" value="{$payment_system}">
					<input type="hidden" name="score" value="{$score}">
					<div class="design_inf">
						<div>{$us_sys_name2}: сумма USD - {$payment_system}</div>
						<div style="margin-top:10px;">
						<span class="">Номер счета: <span id="hjhjjhj" style="color:red;">{$score} </span></span>
						</div>
					</div>
				</li>
			</ul>
			<div class="design_valid">
				<p>
					<input style="float:left;" type="checkbox" id="first">
					<label id="first_label" class="first_label"></label>
					<label class="first_label" >Подтверждаю корректность указаных реквизитов.</label>
				</p>
				<p>
					<input style="float:left;" type="checkbox" name="second" id="second">
					<label id="second_label" class="second_label"></label>
					<label class="second_label" >Уведомить контрагента по СМС об оплате(стоимость 0.05 USD)</label>
				</p>
			</div>
			<div style="text-align: center;">
				<!--a style="text-transform: uppercase; display: inline-block; padding-top: 8px;" onclick="validation()" id="save_btn">Подтвердить</a-->
				<input style="text-transform: uppercase; float: left; margin-left: 100px;" id="save_btn" type="submit" value="Подтвердить">
		</form>
		<form style="width: 213px; float: left; " action="/users/{$id}/payment_system.html" method="post">
				<input type="hidden" name="opt" value="history_back">
				<input style="color: #fff;" type="submit" id="delbtn2" value="Назад">
				
				<input type="hidden" name="us_sys_name2" value="{$us_sys_name2}">
				<input type="hidden" name="kurs" value="{$kyrs}">
				<input type="hidden" name="payment_system" value="{$payment_system}">
				<input type="hidden" name="score" value="{$score}">
				
				<input type="hidden" name="payment_user" value="{$payment_user}"><!-- деньги которые ввел юзер -->
				<input type="hidden" name="payment_system_name" value="{$u_system_name}"><!-- name системы оплаты -->
				
				<input type="hidden" name="vubor_garanta" value="{$vubor_garanta}">
				<input type="hidden" name="sell_parts" value="{$sell_parts}">
				<input type="hidden" name="what_ps" value="{$what_ps}">
		</form>
	</div>
	{elseif $what_ps == 'standart_user_ps'}
		<form id="design" action="" method="post" onsubmit="return validation()">
			<input type="hidden" name="opt" value="success">
			<input type="hidden" name="payment_user" value="{$payment_user}"><!-- деньги которые ввел юзер -->
			<input type="hidden" name="payment_system_name" value="{$us_sys_name1}"><!-- name системы оплаты -->
			<input type="hidden" name="vubor_garanta" value="{$vubor_garanta}">
			<input type="hidden" name="sell_parts" value="{$sell_parts}">
			<input type="hidden" name="what_ps" value="{$what_ps}">
			<ul style="list-style:none;border-bottom: 1px dashed #ccc;">
				<li>Отдаю:</li>
				<li style="margin-bottom: 10px;">
					<div class="design_inf">
						<div style="padding-top: 10px;">{$us_sys_name1}: сумма USD - {$payment_user}</div>
					</div>
				</li>
			</ul>
			<ul style="list-style:none;">
				<li>Получаю:</li>
				{foreach key=tid item=system from=$nats_bunk}
				<li>
					<input type="hidden" name="system_name[]" value="{$system.name}">
					<input type="hidden" name="kurs[]" value="{$system.kurs}">
					<input type="hidden" name="system_money[]" value="{$system.valuta}">
					<input type="hidden" name="score[]" value="{$system.score}">
					<div class="design_img"><img src="{$system.img}"></div>
					<div class="design_inf">
						<div>{$system.name}: сумма USD - {$system.valuta}</div>
						<div><a class="href_editprofile" href="/users/{$id}/editprofile.html#payment_inf">Номер счета: {$system.score} <input type="button" style="margin-left: 10px; border: none; background-color: #D71411; color: #fff; font-weight: bold;" value="Редактировать"></a></div>
					</div>
				</li>
				{/foreach}
			</ul>
			<div class="design_valid">
				<p>
					<input style="float:left;" type="checkbox" id="first">
					<label id="first_label" class="first_label"></label>
					<label class="first_label" >Подтверждаю корректность указаных реквизитов.</label>
				</p>
				<p>
					<input style="float:left;" type="checkbox" name="second" id="second">
					<label id="second_label" class="second_label"></label>
					<label class="second_label" >Уведомить контрагента по СМС об оплате(стоимость 0.05 USD)</label>
				</p>
			</div>
			<div style="text-align: center;">
				<!--a style="text-transform: uppercase; display: inline-block; padding-top: 8px;" onclick="validation()" id="save_btn">Подтвердить</a-->
				<input style="text-transform: uppercase; float: left; margin-left: 100px;" id="save_btn" type="submit" value="Подтвердить">
		</form>
		<form style="width: 213px; float: left; " action="/users/{$id}/payment_system.html" method="post">
				<input type="hidden" name="opt" value="history_back">
				<input style="color: #fff;" type="submit" id="delbtn2" value="Назад">
				
				{foreach key=tid item=system from=$nats_bunk}
					<input type="hidden" name="system_name[]" value="{$system.name}">
					<input type="hidden" name="system_money[]" value="{$system.valuta}">
					<input type="hidden" name="kurs[]" value="{$system.kurs}">
				{/foreach}
				
				<input type="hidden" name="payment_user" value="{$payment_user}"><!-- деньги которые ввел юзер -->
				<input type="hidden" name="payment_system_name" value="{$us_sys_name1}"><!-- name системы оплаты -->
				
				<input type="hidden" name="vubor_garanta" value="{$vubor_garanta}">
				<input type="hidden" name="sell_parts" value="{$sell_parts}">
				<input type="hidden" name="what_ps" value="{$what_ps}">
				
		</form>
		</div>
	{/if}
{else}

<form id="design" action="" method="post" onsubmit="return validation()">
<input type="hidden" name="opt" value="success">
<input type="hidden" name="what_ps" value="{$what_ps}">
<input type="hidden" name="payment_user" value="{$payment_user}"><!-- деньги которые ввел юзер -->
<input type="hidden" name="payment_system_id" value="{$u_system_id}"><!-- id системы оплаты -->
<input type="hidden" name="vubor_garanta" value="{$vubor_garanta}">
<input type="hidden" name="sell_parts" value="{$sell_parts}">
	<ul style="list-style:none;border-bottom: 1px dashed #ccc;">
		<li>Отдаю:</li>
		{if $u_system_img}
		<li style="margin-bottom: 30px;">
			<div class="design_img"><img src="{$u_system_img}"></div>
			<div class="design_inf">
				<div style="padding-top: 10px;">{$u_system_name}: сумма USD - {$payment_user}</div>
			</div>
		</li>
		{/if}
	</ul>
	<ul style="list-style:none;">
		<li>Получаю:</li>
		{foreach key=tid item=system from=$nats_bunk}
		<li>
			<input type="hidden" name="system_name[]" value="{$system.name}">
			<input type="hidden" name="kurs[]" value="{$system.kurs}">
			<input type="hidden" name="system_money[]" value="{$system.valuta}">
			<input type="hidden" name="score[]" value="{$system.score}">
			<div class="design_img"><img src="{$system.img}"></div>
			<div class="design_inf">
				<div>{$system.name}: сумма USD - {$system.valuta}</div>
				<div><a class="href_editprofile" href="/users/{$id}/editprofile.html#payment_inf">Номер счета: {$system.score} <input type="button" style="margin-left: 10px; border: none; background-color: #D71411; color: #fff; font-weight: bold;" value="Редактировать"></a></div>
			</div>
		</li>
		{/foreach}
	</ul>
	<div class="design_valid">
		<p>
			<input style="float:left;" type="checkbox" id="first">
			<label id="first_label" class="first_label"></label>
			<label class="first_label" >Подтверждаю корректность указаных реквизитов.</label>
		</p>
		<p>
			<input style="float:left;" type="checkbox" name="second" id="second">
			<label id="second_label" class="second_label"></label>
			<label class="second_label" >Уведомить контрагента по СМС об оплате(стоимость 0.05 USD)</label>
		</p>
	</div>
	<div style="text-align: center;">
		<!--a style="text-transform: uppercase; display: inline-block; padding-top: 8px;" onclick="validation()" id="save_btn">Подтвердить</a-->
		<input style="text-transform: uppercase; float: left; margin-left: 100px;" id="save_btn" type="submit" value="Подтвердить">
</form>
<form style="width: 213px; float: left; " action="/users/{$id}/payment_system.html" method="post">
		<input type="hidden" name="opt" value="history_back">
		<input type="hidden" name="what_ps" value="{$what_ps}">
		<input style="color: #fff;" type="submit" id="delbtn2" value="Назад">
		{foreach key=tid item=system from=$nats_bunk}
			<input type="hidden" name="system_name[]" value="{$system.name}">
			<input type="hidden" name="system_money[]" value="{$system.valuta}">
			<input type="hidden" name="kurs[]" value="{$system.kurs}">
		{/foreach}
		<input type="hidden" name="payment_user" value="{$payment_user}"><!-- деньги которые ввел юзер -->
		<input type="hidden" name="payment_system_id" value="{$u_system_id}"><!-- id системы оплаты -->
		<input type="hidden" name="vubor_garanta" value="{$vubor_garanta}">
		<input type="hidden" name="sell_parts" value="{$sell_parts}">
		
</form>
	</div>
{/if}
</div>