 {add_css file='includes/jquery/ui/jquery-ui.min.css'}
{add_js file='includes/jquery/ui/jquery-ui.min.js'}


	{literal}
		  <script>
			  $(function() {
				$( "#tabs_lamination" ).tabs();
			  });
			  
			</script>
	{/literal}	
	

<div id='usr'>
<div id="tabs_lamination">
<div class='head_edit'></div>
<ul id='contacts_prez' >
		<li style='margin-right: 25px;'><a style='width: 330px' href="#tabss-1">Связь с нами</a></li>
		<li style='margin-right: 0px;'><a style='width: 330px;' href="#tabss-2">Претензия</a></li>
	</ul>
  <div id='tabss-1'>
{if $article.showtitle}
    <h1 class="con_heading">{$article.title}</h1>
{/if}
<p>Для связи с нами, пожалуйста, выберите одну из следующих возможностей</p>
		<h4>
			Отправка сообщений через форму
		</h4>
		<div id='underline'>
			<span>
			
			</span>
		</div>
		<table style='margin: 0 auto;width: 100%;margin-top: 30px;'>
				<tr><td style='width:300px'><span>Имя</span></td><td><input class='inputs_text' type='text' /><td></tr>
				<tr><td><span>E-mail</span></td><td><input type='text' class='inputs_text'/></td></tr>
				<tr><td><span>Текст</span></td><td><textarea class='inputs_text'> </textarea></td></tr>
		</table>
		<div style='text-align:center'>
				<button id="save2"><span>Отправить</span></button>
				<button id="delbtn3"><span>Отмена</span></button>
		</div>


<h4>
	Наши контакты
</h4>
<div id='underline'>
	<span>
	
	</span>
</div>

<div class="con_text" style="overflow:hidden">
    {if $article.image}
        <div class="con_image" style="float:left;margin-top:10px;margin-right:20px;margin-bottom:20px">
            <img src="/images/photos/medium/{$article.image}" alt="{$article.title|escape:html}"/>
        </div>
    {/if}
    {$article.content}
</div>




</div>
   <div id='tabss-2'>
	<p>
		
	
	</p>
		 {foreach key=tid item=pretenz from=$pretenzia}

			{$pretenz.content}

		{/foreach}
		<table id='pretenz' style='margin: 0 auto;width: 100%;margin-top: 25px;margin-bottom: 25px;'>
				<tr><td style='width:200px'><span>ФИО</span></td><td><input type='text' /><td></tr>
				<tr><td><span>E-mail</span></td><td><input type='text' /></td></tr>
				<tr><td><span>Номер счета</span></td><td><input type='text'/> </td></tr>
				<tr><td><span>Дата</span></td><td><input type='text' /></td></tr>
				<tr><td><span>Тикет ордера</span></td><td><input type='text' /></td></tr>
				<tr><td><span>Сообщение</span></td><td><textarea></textarea></td></tr>
				<tr><td colspan='2'><input type='file'/></td></tr>
				<tr><td colspan='2'><span>*Максимальный размер прикрепляемого файла 2 Мб. Поддерживаемый формат *.jpeg, *.png, *.gif</span></td></tr>
		</table>
		<div style='text-align:center;margin-bottom: 25px;'>
				<button id="save2"><span>Отправить</span></button>
				<button id="delbtn2"><span>Отмена</span></button>
		</div>
	</div>
</div>
</div>