{literal}
	  <script>
			$(document).ready(function(){
				var hash = document.location.hash;
				if(hash == '#success'){
					$("#modal_success_btn").click();
					document.location.hash = "";
					//window.history.pushState('obj', '', '/');
				}
				
				$('input[name="ik_am"]').keypress(function(b) {
					var C = /[0-9,.\x25\x27\x24\x23]/;
					var a = b.which;
					var c = String.fromCharCode(a);
					return !!(a==0||a==8||a==9||a==13||c.match(C));
				});
				
				/* function check_fields(){
					if($('input[name="ik_am"]').val() == ''){
						$('input[name="ik_am"]').css('border', '1px solid red');
						$('#payment').submit(function (){
							return false;
						});
					}
					else{
						$('input[name="ik_am"]').css('border', '1px solid #555');
						//$('#payment').removeAttr('onsubmit');
						//$('#payment').submit();
						return true;
					}
				} */
				
				$('#invest_do').click(function() {
					//check_fields();
				});
			});
		</script>
{/literal}
<div id='underline'>
	<span></span>
</div>
			<h2 style='margin-top:60px;margin-bottom:60px;text-align:center'>Пополнение лицевого счета</h2>
			
<div>
	<div class='investl_block' style='width:400px;margin:0 auto' >
		<div id='invest_head'><span>Лицевой счет</span></div>
		<div class='invest_thead'><span>Лицевой счет</span></div>
		<div class='first'>
			<div>
			<span>
				№{$user_main_expense.id}
			</span>
			</div>
		</div>
			<div class='second'>
				<table style='position: relative;top: 20px;left: 20px;'>
					<tr>
						<td>
							<span style='float:left'>Информация по счету:</span>
							<span class='dotted1'></span>
						</td>
						<td>
							
						</td>
					</tr>
					<tr>
						<td>
							<span style='float:left'>Валюта:</span>
							<span class='dotted2'></span>
						</td>
						<td>
							USD
						</td>
					</tr>
					<tr>
						<td>
							<span style='float:left'>Общий баланс:</span><span class='dotted2'></span>
						</td>
						<td>{$user_main_expense.expense_money}</td>
					</tr>
				</table>
		</div>
	</div>
</div>


<form action='https://sci.interkassa.com/' name="payment" id="payment" method="post" accept-charset="UTF-8" >
<input type="hidden" name="ik_co_id" value="5450fd49bf4efca91280c8a3" />
<input type="hidden" name="ik_pm_no" value="12" />
<input type="hidden" name="ik_desc" value="Payment Description" />

	<div id='invest_table'>
		<div style='margin-bottom: 20px;'>
			<span style=''>Введите сумму в $:</span>
			<input type='text' class='text-input' autocomplete="off" value="10" name='ik_am' style=''/>
		</div>
		<button id='invest_do'><span>Инвестировать в проект</span></button> 
		<a href='/users/{$ids}' id='invest_btn'><span>Вернуться в ЛИЧНЫЙ КАБИНЕТ</span></a> 
	</div>
	
</form>
