<a href="#modal1" role="button" data-toggle="modal" title="Инвестиционный кабинет"  class='video'><div id='videoprez'>
	<img src='/images/video.png'/>
</div></a>




	
	<div id="modal1" class="modal hide fade" style='width: 557px;'>
	<div class="modal-body" style='height: 400px;
	
border: 5px solid #ccc;'>
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		<span style='margin-top: 10px;
display: inline-block;'>
<span style='display: inline-block;
margin-top: 140px;
margin-left: 26px;
font-size: 21px;'>Данный раздел находиться в стадии разработки.</span>
	</div>
	</div>