<ul class="mod_user_menu">
	<li>
			 <div id='usmenimg'><img alt="{$usr.nickname|escape:'html'}" class="usr_img" src="{$avatar}" /></div><a href="{profile_url login=$login}">{$nickname}</a>
	</li>
	<li>
			<object type="application/x-shockwave-flash" data="/includes/cabinet-menu-11.swf" height="40" style="visibility: visible;" width='45'><param name="wmode" value="opaque" /></object> <a href="{profile_url login=$login}"><label></label><span>{$LANG.USERMENU_OPER}</span></a>
	</li>
    {if $is_billing}
       <li>
	  
			<a href="{profile_url login=$login}#upr_p_balance" title="{$LANG.USERMENU_BALANCE}">{if $balance}{$balance}{else}0{/if}</a>
		</li>
    {/if}


	<li> 
	 <object type="application/x-shockwave-flash" data="/includes/cabinet-menu-7.swf" height="40" style="visibility: visible;" width='45'><param name="wmode" value="opaque" /></object>
		<a href="/users/{$id}/editprofile.html" title="{$LANG.USERMENU_DANNYE}"><span>{$LANG.USERMENU_DANNYE}</span></a>
		
	</li>
	<li> 
		 <object type="application/x-shockwave-flash" data="/includes/cabinet-menu-6.swf" height="40" style="visibility: visible;" width='45'><param name="wmode" value="opaque" /></object>
		<a href="/users/{$id}/invite.html" title="{$LANG.USERMENU_DANNYE}"><span>{$LANG.USERMENU_DRUG}</span></a>
		
	</li>
	<li> 

			{if $newmsg.total}
			<object type="application/x-shockwave-flash" data="/includes/cabinet-menu-10.swf" height="40" style="visibility: visible;" width='45'><param name="wmode" value="opaque" /></object>
	
				<a class="has_new" href="/users/{$id}/messages{if !$newmsg.messages}-notices{/if}.html" title="{$LANG.NEW_MESSAGES}: {$newmsg.messages}, {$LANG.NEW_NOTICES}: {$newmsg.notices}">{$LANG.USERMENU_MESS} <span>({$newmsg.total})</span></a>
			{else}
				<object type="application/x-shockwave-flash" data="/includes/cabinet-menu-10.swf" height="40" style="visibility: visible;" width='45'><param name="wmode" value="opaque" /></object>
	
				<a href="/users/{$id}/messages-history.html"><span>{$LANG.USERMENU_MESS}</span></a>
			{/if}
	
	</li>
	<li>
	<object type="application/x-shockwave-flash" data="/includes/cabinet-menu-8.swf" height="40" style="visibility: visible;" width='45'><param name="wmode" value="opaque" /></object>
	
			<a href="/logout"><span>{$LANG.USERMENU_EXIT}</span></a>

	</li>
</ul>
