<form action="/login" method="post" name="authform" style="margin:0px" target="_self" id="authform">
    <table class="authtable"  border="0" cellspacing="0" cellpadding="2">
        <tr>
			<td width=""><input name="login" placeholder='логин' type="text" id="login" /></td>
			<td valign="top"><input name="pass" placeholder='пароль' type="password" id="pass" /></td>
			<td width="13%" align="right"><input id="login_btn1" type="submit" name="Submit" value="Вход" /></td>
        </tr>
		<tr>
				<td> <a class='reg' href="/registration">Регистрация</a></td>	
		        <td> <a class='reg' href="/passremind.html">Забыли пароль</a></td>
		
				
		</tr>
         
      
    </table>
</form>