	 {php} if (stripos($_SERVER['REQUEST_URI'], "registration") != 1 ){{/php}	<table id='statistic'>
	<tr>
		<td style="width:37px">Лого
		<td>Название</td>
		<td>Доход за неделю</td>
		<td>Доход за месяц</td>
	</tr>
	<tr><td></td><td></td><td></td><td></td></tr>
	<tr><td></td><td></td><td></td><td></td></tr>
	<tr><td></td><td></td><td></td><td></td></tr>
	<tr><td></td><td></td><td></td><td></td></tr>
	<tr><td></td><td></td><td></td><td></td></tr>
	<tr><td></td><td></td><td></td><td></td></tr>
	<tr><td></td><td></td><td></td><td></td></tr>
	<tr><td></td><td></td><td></td><td></td></tr>
	<tr><td></td><td></td><td></td><td></td></tr>
	<tr><td></td><td></td><td></td><td></td></tr>
	<tr><td></td><td></td><td></td><td></td></tr>
	
	
	<tr><td colspan='4'>Котровки в реальном времени</td></tr>
	
</table>

{php}
		}			
{/php}
