<div id='socialbtn'>
	<span id='krest'>   
		<ul id='social'>
			<li><a href=''><img src='/images/odnok.png'/></a></li>
			<li><a href=''><img src='/images/face.png'/></a></li>
			<li><a href=''><img src='/images/vk.png'/></a></li>
			<li><a href=''><img src='/images/tweet.png'/></a></li>
		
		</ul>
	
	</span>
</div>