{add_css file='includes/jquery/ui/jquery-ui.min.css'}
{add_js file='includes/jquery/ui/jquery-ui.min.js'}
{add_js file='includes/jquery/copy/jquery.zclip.js'}
	{literal}
		  <script>
			  $(function() {
				$( "#uitabs" ).tabs();
			  });
			  $(document).ready(function(){
					$(".copy_button").zclip({
						 path: "http://www.steamdev.com/zclip/js/ZeroClipboard.swf",
						 copy: function(){
						  return $('#refka_span').html();
						 },
						 afterCopy: function(){
						$('#success_copy').fadeIn(1000); 
						  $('#success_copy').delay(2000).fadeOut(1000);  
						 }
						});
				});
			</script>
	{/literal}	
	
	<div id="modal3" class="modal hide fade" style='width: 557px;'>
	<div class="modal-body" style='height: 400px;
	
border: 5px solid #ccc;'>
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		<span style='margin-top: 10px;
display: inline-block;'>
<span style='display: inline-block;
margin-left: 26px;
font-size: 15px;'>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vehicula magna in leo vulputate sollicitudin. Donec quis turpis id ipsum sodales semper. Etiam libero felis, suscipit vitae diam vel, auctor tristique felis. Nam sit amet justo at mi vulputate porttitor. Mauris sodales dignissim tellus et porttitor. Praesent elementum erat turpis, eu suscipit dolor aliquet et. Fusce efficitur et quam sed finibus. Phasellus eu purus a est euismod tincidunt. Ut et accumsan odio. Etiam vitae ante vestibulum, molestie arcu vel, volutpat justo. Donec ut tristique odio. Sed mi urna, sagittis vulputate lorem in, molestie interdum elit. Mauris feugiat, urna consectetur auctor scelerisque, nibh ipsum pretium ex, sit amet interdum lorem nibh in lacus. Cras convallis, massa vitae malesuada ornare, augue quam viverra nisl, a eleifend nisl ipsum in odio. Aenean ullamcorper velit non venenatis faucibus. Etiam id iaculis tortor, non vulputate velit.</span>
	</div>
	</div>
	
	
	
	
	
	
	
	
	
	
	
	
	<div id='success_copy' style='display:none'>
			
	<span>Вы скопировали ссылку в буфер обмена</span></div>
<div id='usr'>
<div class='head_edit'></div>
<div id='uitabs'>
<ul class='partner_ul' style='margin-top: 10px;margin-left: 24px;'>
		<li><a href="#tabss-1">Пригласить друга</a></li>
		<li><a href="#tabss-2">История начислений</a></li>
		<li><a href="#tabss-3">Клиенты</a></li>
		<li><a href="#tabss-4">Статистика</a></li>
</ul>

<div id='tabss-1'>
 {foreach key=tid item=art from=$article}

  {$art.content}

  {/foreach}


		<h4>
		Зарегистрировать друга
		</h4>
		<div id='underline'>
			<span>
			
			</span>
		</div>
		
		<p>
		Зарегистрируйте Вашего друга в системе iMoneyBox!
Отправьте любым удобным для Вас способом ссылку, приведенную ниже, и получайте бонусы!</p>
		 <span id='refka_span'>http://{$smarty.server.SERVER_NAME}/ref/{$usr.id}</span>
		 <button class='copy_button' id='copy'>Скопировать</button>

<h4>
		Пригласить друга по e-mail
		</h4>
		<div id='underline'>
			<span>
			
			</span>
		</div>
<form method="post" action="">
   <table id='fio_table' style=''>
	   <tr>
			<td>Укажите ФИО друга</td>
			<td><input type="text" name="fio" class="text-input" value="" style="width:200px;margin-left: 64px;"/></td>
	   </tr>
		<tr>
			<td>Укажите e-mail Вашего друга</td>
			<td>
				<input type="hidden" name="csrf_token" value="{csrf_token}" />
				<input type="text" name="invite_email" class="text-input" value="" style="width:200px"/>
			</td>
		</tr>
</table>
	<p>*На указанный e-mail Вашему другу будет выслано письмо с приглашением стать клиентом iMoneyBox</p>
	<a href="#modal3" role="button" data-toggle="modal"id='letter_text' style='padding-top: 10px;
padding-left: 9px;
width: 295px;
height: 31px;'>Ознакомиться с текстом письма</a>
	<p id='plusik' style='background:red;display: inline-block;'><span style='color:#fff'>+</span></p>
	<button id='plus_button' >Добавить больше друзей</button>
	<div style='text-align: center;' >
		<button name="send_invite" id="save3"><span>Отправить письмо</span></button>
		<button id="delbtn3"><span>Отмена</span></button>
	</div>
	
</form>
	
</div>
<div id='tabss-2'>

<table id='ref_table' >
	<tr>
		<td>Ваша реферальная ссылка:</td>
		<td style='color:#DB0000;padding-left:5px;padding-right:5px'>http://{$smarty.server.SERVER_NAME}/ref/{$usr.id}</td>
		<td><button class='copy_button' id='copy' style='margin-right:3px;margin-top:3px'>Скопировать ссылку</button></td>	
	</tr>
	<tr>
			<td>Последнее зачисление:</td>
			<td></td>
			<td>35,43USD</td>
	</tr>
	<tr>
		<td>Всего начислено:</td>
		<td></td>
		<td>106,32USD</td>
	</tr>
</table>
	<p style='clear: both;'>
		<span style='
width: 376px;'>Показывать по <select>
			<option>20</option>
			<option>30</option>
			<option>40</option>
			<option>50</option>
		
		</select> строк	</span>
		
		<span style='float: right;'>Сортировать по <select>
		
			<option>Номеру транзакции</option>
			<option>Дата и время</option>
			<option>Програма</option>
			<option>Сумма</option>
		
		</select></span>
		</p>
					<table id='gen_tab' style='width: 910px;text-align: center;'>	
					<tr>
						<td colspan="4">История начисления</td>
						
					
					</tr>
						<tr  class='gen_tab_tr'>
							<td style='width:168px;'>№ транзакции</td>
							<td style='width:169px;'>Дата и время</td>
							<td style='width:169px;'>Программа</td>
							<td style='width:277px;'>Сумма</td>
						</tr>
						<tr class='gen_tab_tr'>
							<td>111111</td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
						<tr class='gen_tab_tr'>
							<td>111111</td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
						<tr class='gen_tab_tr'>
							<td>111111</td>
							<td></td>
							<td></td>
							<td></td>
							
							
						
						</tr>
				<tr class=''>
					<td></td>
					<td></td>
					<td style='text-align: right;'>ИТОГО:</td>
		
					<td style='background:#cccccc;text-align: center;'> 
								106.32USD
							</td>
				
				</tr>
					</table>
	
</div>


<div id='tabss-3'>
		
<table id='ref_table' >
	<tr>
		<td>Ваша реферальная ссылка:</td>
		<td style='color:#DB0000;padding-left:5px;padding-right:5px'>http://{$smarty.server.SERVER_NAME}/ref/{$usr.id}</td>
		<td><button class='copy_button' id='copy' style='margin-right:3px;margin-top:3px'>Скопировать ссылку</button></td>	
	</tr>
	<tr>
			<td>Последнее зачисление:</td>
			<td></td>
			<td>35,43USD</td>
	</tr>
	<tr>
		<td>Всего начислено:</td>
		<td></td>
		<td>106,32USD</td>
	</tr>
</table>
	<p style='clear: both;text-align:center'>
Компания “iMoneyBox” предлагает Вам выгодные условия сотрудничества! 
Привлекайте клиентов в компанию “iMoneyBox” и получайте солидный дополнительный доход без вложений!
		</p>
					<table id='gen_tab' style='width: 910px;text-align: center;'>	
					<tr>
						<td colspan="6">Привлеченные клиенты</td>
						
					
					</tr>
						<tr  class='gen_tab_tr'>
							<td style='width:168px;'>№ транзакции</td>
							<td style='width:169px;'>ID</td>
							<td style='width:169px;'>Откуда</td>
							<td style='width:277px;'>Дата регистрации</td>
							<td style='width:277px;'>Профит клиента,USD</td>
							<td style='width:277px;'>Партнерское вознаграждение, USD</td>
						</tr>
						<tr class='gen_tab_tr'>
							<td><p id='plusik' style='background:red;display: inline-block;margin-top: 7px;
margin-bottom: 5px;'><span style='color:#fff;margin-left:0'>+</span></p></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
						<tr class='gen_tab_tr'>
							<td><p id='plusik' style='background:red;display: inline-block;margin-top: 7px;
margin-bottom: 5px;'><span style='color:#fff;margin-left:0'>+</span></p></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
						<tr class='gen_tab_tr'>
							<td><p id='plusik' style='background:red;display: inline-block;margin-top: 7px;
margin-bottom: 5px;'><span style='color:#fff;margin-left:0'>+</span></p></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
				<tr class=''>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td style='text-align: right;'>ИТОГО:</td>
		
					<td style='background:#cccccc;text-align: center;'> 
								106.32USD
							</td>
				
				</tr>
					</table>
	


</div>

<div id='tabss-4'>
		
<table id='ref_table' >
	<tr>
		<td>Ваша реферальная ссылка:</td>
		<td style='color:#DB0000;padding-left:5px;padding-right:5px'>http://{$smarty.server.SERVER_NAME}/ref/{$usr.id}</td>
			<td><button class='copy_button' id='copy' style='margin-right:3px;margin-top:3px'>Скопировать ссылку</button></td>	
	</tr>
	<tr>
			<td>Последнее зачисление:</td>
			<td></td>
			<td>35,43USD</td>
	</tr>
	<tr>
		<td>Всего начислено:</td>
		<td></td>
		<td>106,32USD</td>
	</tr>
</table>
	<p style='clear: both;text-align:center'>
Компания “iMoneyBox” предлагает Вам выгодные условия сотрудничества! 
Привлекайте клиентов в компанию “iMoneyBox” и получайте солидный дополнительный доход без вложений!
		</p>
					<table id='gen_tab' style='width: 910px;text-align: center;'>	
					<tr>
						<td colspan="6">Привлеченные клиенты</td>
						
					
					</tr>
						<tr  class='gen_tab_tr'>
							<td style='width:168px;'>№</td>
							<td style='width:169px;'>Сайт</td>
							<td style='width:169px;'>Кол-во переходов</td>
							<td style='width:277px;'>Зарегистрирован</td>
							<td style='width:277px;'>Вводов</td>
							<td style='width:277px;'>Профит, USD</td>
						</tr>
						<tr class='gen_tab_tr'>
							<td>2</td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
						<tr class='gen_tab_tr'>
							<td>3</td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
						<tr class='gen_tab_tr'>
							<td>4</td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
						<tr class=''>
							<td></td>
							<td style='text-align: right;'>Всего:</td>
							<td style='background:#cccccc;text-align: center;border: 1px solid #000;'></td>
							<td style='background:#cccccc;text-align: center;border: 1px solid #000;'></td>
							<td style='background:#cccccc;text-align: center;border: 1px solid #000;'></td>
							<td style='background:#cccccc;text-align: center;border: 1px solid #000;'> 
										106.32USD
							</td>
						</tr>
					</table>
	</div>
</div>
<div style='margin-bottom:10px;text-align: center;margin-top: 20px;'>
		<a href='/users/{$login}' style='position: relative; display: inline-block; top: 4px;' id="save3"><span>Вернуться в кабинет</span></a>
		<button id="delbtn3"><span>Рекламные материалы</span></button>
	</div>
</div>