<div id='underline'>
	<span></span>
</div>
			<h2 style='margin-top:60px;margin-bottom:60px;text-align:center'>Пополнение ПАММ - портфеля</h2>
			
			<div>
<div class='investl_block' style='width:400px;float:left' >
	<div id='invest_head'><span>Инвестиционный счет</span></div>
	<div class='invest_thead'><span>Лицевой счет</span></div>
	<div class='first'>
		<div>
		<span>
			№133457678
		</span>
		</div>
	</div>
		<div class='second'>
	<table style='position: relative;
top: 20px;
left: 20px;'>
		<tr>
			<td><span style='float:left'>Информация по счету:</span>
				<span class='dotted1'></span>
			</td>
			<td>
				
			</td>
		</tr>
			<tr>
		<td><span style='float:left'>Валюта:</span>
				<span class='dotted2' style='width: 92px;'></span>
			</td>
			<td>
				USD
			</td>
		</tr>
		<tr>
			<td>Общий баланс:<span class='dotted2'></span></td>
			<td>{$usr_money}</td>
		
		</tr>
	</table>

	</div>
</div>

<div class='investl_block' style='width:400px;float:right' >
	<div id='invest_head'><span>ПАММ - портфель</span></div>
	<div class='invest_thead'><img style='margin-top:4px;margin-left: 5px;' src="/images/panteon.png"/></div>
	
	
	<div class='first'>
		<div>
		<span>
			№133457678
		</span>
		</div>
	</div>
		<div class='second'>
<table style='position: relative;
top: 20px;
left: 20px;'>
		<tr>
			<td><span style='float:left'>Информация по счету:</span>
				<span class='dotted1'></span>
			</td>
			<td>
				
			</td>
		</tr>
			<tr>
		<td><span style='float:left'>Валюта:</span>
				<span class='dotted2' style='width: 92px;'></span>
			</td>
			<td>
				USD
			</td>
		</tr>
		<tr>
			<td>Общий баланс:<span class='dotted2'></span></td>
			<td>
			{$pamms_money}</td>
		
		</tr>
	</table>


	</div>
</div>
<img id='invest_img' src='/images/invest_strelka.png'/>

</div>



<form id='invest_table' method='POST' action=''>
		<div style='margin-bottom: 20px;'>
			<span style='position: relative;top: -14px;'>Введите сумму в $:</span>
			<input type='text' class='text-input' name='pamm_reply' style='margin-left: 67px;width: 257px;height:34px'/>
		</div>
		<div style='display:table'>
			<span style='width:200px;display:inline-block;float:left;'>Введите код защиты
		от автоматической регистрации —
		цифры, отображенные
		в виде картинки</span>
		{captcha}
		</div>
<button id='invest_do'><span>Инвестировать в проект</span></button> 
<a href='/users/{$ids}' id='invest_btn'><span>Вернуться в ЛИЧНЫЙ КАБИНЕТ</span></a> 
</form>
