{* ================================================================================ *}
{* ========================= Профиль пользователя ================================= *}
{* ================================================================================ *}



<div id="modal1" class="modal hide fade" style='width: 557px;'>
	<div class="modal-body" style='height: 400px;
	
border: 5px solid #ccc;'>
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		<span style='margin-top: 10px;
display: inline-block;'>
<span style='display: inline-block;margin-top: 140px;margin-left: 26px;font-size: 20px;'>Данный раздел находиться в стадии разработки.</span>
	</div>
</div>
{add_js file='includes/jquery/tabs/jquery.ui.min.js'}
{add_js file="components/users/js/profile.js"}
{add_css file='includes/jquery/tabs/tabs.css'}
<h4 style='margin:0;padding-left:40px;'>
	Мои счета
</h4>
<div id='underline'>
	<span>
	
	</span>
</div>
<div id='section-div'>
	<section>
		<img src='/images/alarm.png'/> <span>- все операции завершены </span> 
	</section>
	<section>
		<img src='/images/alarm-red.png'/> <span>- все операции завершены </span> 
	</section>
</div>
<!-- Лицевой счет -->

<div class='kab-block'>
	<header>
		<span>	Лицевой счет</span>
	</header>
	<div class='first'>
		<div>
		<span>
			№133457678
		</span>
		</div>
		<div>
		<img src='/images/alarm.png'/><a href=''><span style='color:#030303'>История</span></a>
		</div>
	</div>
	<div class='second'>
		<table class='lych_table' style=''>
			<tr>
				<td><span style='float:left'>Валюта:</span>
					<span class='dotted'></span>
				</td>
				<td>
					USD
				</td>
			</tr>
				<tr>
				<td>
					Общий бонус:
				</td>
				<td>
				{$usr_money}
				</td>
			</tr>
				<tr>
				<td><span style='float:left'>
					Бонусы:</span><span class='dotted'></span>
					
				</td>
				<td>
				
				</td>
			</tr>
		</table>
	
		<ul class='lyc_schet'>
			<li><a href=''>Операции со счетами</a></li>
			<li><a href=''>Вывести средства</a></li>
			<li><a href=''>Управление бонусами</a></li>
		</ul>
	
	
	
	 
	<a href='/users/{$ids}/investglav.html' role="button" data-toggle="modal" class='button_box'><span>Пополнить СЧЕТ</span></a>
	
		
	</div>
</div>

<!-- Инвестиционные счета -->
 {foreach key=tid item=pam from=$pamms_related}
<div class='kab-block'>
	<header>
		<span>Инвестиционные счета</span>
	</header>
	<div class='first'>
		<div>
		<span>
			№1
		</span>
		</div>
		<div>
		<img src='/images/alarm.png'/><a href=''><span style='color:#030303'>История</span></a>
		</div>
	</div>
	<div class='second'>
	<table class='lych_table' style=''>
		<tr>
			<td><span style='float:left'>Инвестировано:</span>
				<span class='dotted1'></span>
			</td>
			<td>
				USD
			</td>
		</tr>
			<tr>
		<td><span style='float:left'>Выведено:</span>
				<span class='dotted2'></span>
			</td>
			<td>
				{$pam.outpay_user}
			</td>
		</tr>
			<tr>
			<td><span style='float:left'>
				Начислено:</span><span class='dotted2'></span>
				
			</td>
			<td>
				0
			</td>
		</tr>
				<tr>
			<td><span style='float:left'>
				Всего на счету:</span><span class='dotted1'></span>
				
			</td>
			<td>
				{$pam.money}
			</td>
		</tr>
	</table>
	
	<ul class='lyc_schet1' style='margin-left:170px;'>
		<li class='schet' style='list-style:none;'><a href='/users/{$ids}/outpay.html'>Перевести на лицевой счет</a></li>
	</ul>
		<a href='/users/{$ids}/invest.html' style='margin-top:99px' class='button_box'><span>Пополнить СЧЕТ</span></a>
	</div>
</div>
{/foreach}
<!-- Демонстрационный счет -->
	<div class='kab-block'>
		<header>
			<span>Демонстрационный счет</span>
		</header>
		
		<div class='demo'>
			<div></div>
				<a href='#modal1' role="button" data-toggle="modal" style='margin-top: 5px;
					margin-bottom: 5px;' class='button_box'><span>Пополнить СЧЕТ</span></a>
		</div>
	</div>
<div class='kab-block'>
	<header>
		<span>Инвестиционные счета</span>
	</header>
	
	
	
	
	
	
	
	 {foreach key=tid item=pamm from=$pamms}
	<!-- TTTTTTTTTTTTTTTTUUUUUUUUUUUUUUUUUUUUUUUTTTTTTTTTTTTTTTTTTTAAAAAAAAAAAAAAAAAAAA -->
	<div class='pamms_div'>
	<div id='name_div'>
	<a href='/users/{$is_auth}/pamm.html'> <img style='margin:4px' src='{$pamm.image_url}'/></a>
	
	
	
	</div>
	
	<table cellspacing="0" cellpadding="0">
			<tr ><td style='width:135px;border:1px solid #CCCCCC;border-top: 0;'>
					<table style='width:100%'>
						<tr><td style='height: 60px;'><span id='invest_nymber'>№{$pamm.id}</span></td></tr>
						<tr><td style='background:#F5F5F5;height:64px;'> <object type="application/x-shockwave-flash" data="/includes/cabinet-menu-4.swf" height="40" style="visibility: visible;margin-left: 9px;" width='45'><param name="wmode" value="opaque" /></object><a class='invest_A' href=''><span style=''>История</span></a></td></tr>
					</table>
				</td>
			
				<td style='width:180px;border-right:1px solid #CCCCCC;border-bottom:1px solid #CCCCCC'>
							<p style='text-align: center;'>Прибыль проекта</p>
										<table style='margin-left: 14px;'>
							<tr>
								<td ><span style='float:left'>Инвестировано:</span>
									<span class='dotted1'></span>
								</td>
								<td>
									USD
								</td>
							</tr>
								<tr>
							<td><span style='float:left'>Выведено:</span>
									<span class='dotted2'></span>
								</td>
								<td>
									{$pamm.outpay}
								</td>
							</tr>
								<tr>
								<td><span style='float:left'>
									Начислено:</span><span class='dotted2'></span>
									
								</td>
								<td>
									{$pamm.inpay}
								</td>
							</tr>
									<tr>
								<td><span style='float:left'>
									Всего на счету:</span><span class='dotted1'></span>
									
								</td>
								<td>
									{$pamm.money}
								</td>
							</tr>
						</table>
				</td>
				
				 {foreach key=tid item=pam from=$pamms_related}
				<td style='width:180px;border-right:1px solid #CCCCCC;border-bottom:1px solid #CCCCCC'>
										<p style='text-align: center;'>Информация по счету</p>
										
										<table style='margin-left: 14px;'>
							<tr>
								<td><span style='float:left'>Инвестировано:</span>
									<span class='dotted1'></span>
								</td>
								<td>
									USD
								</td>
							</tr>
								<tr>
							<td><span style='float:left'>Выведено:</span>
									<span class='dotted2'></span>
								</td>
								<td>
						{$pam.outpay_user}
								</td>
							</tr>
								<tr>
								<td><span style='float:left'>
									Начислено:</span><span class='dotted2'></span>
									
								</td>
								<td>
									0
								</td>
							</tr>
									<tr>
								<td><span style='float:left'>
									Всего на счету:</span><span class='dotted1'></span>
									
								</td>
								<td>
									{$pam.money}
								</td>
							</tr>
						</table>
				</td>
				{/foreach}
				<td style='border-right:1px solid #CCCCCC;border-bottom:1px solid #CCCCCC''>
					<a href='/users/{$ids}/outpay.html' style='color:#000;padding-left:34px' class='money'>Вывести средства</a>
					<a href='/users/{$ids}/invest.html' style='font-weight:normal;position:relative;top:16px;' class='button_box'><span>Пополнить СЧЕТ</span></a>
				</td>
			</tr>
			<tr>
				<td colspan='4' style='text-align:center;background:#CCCCCC;border-right:1px solid #CCCCCC;border-left:1px solid #CCCCCC;border-bottom:1px solid #CCCCCC'>Дата окончания инвестиционного периода <span>{$pamm.date_out}</span></td>
			</tr>
		</table>
	
	</div>
	{/foreach}
</div>
