<div id='underline'>
	<span></span>
</div>
			<h2 style='margin-top:60px;margin-bottom:60px;text-align:center'>Пополнение ПАММ - портфеля</h2>
			
<div>
			<div class='investl_block' style='width:400px;margin:0 auto' >
				<div id='invest_head'><span>Инвестиционный счет</span></div>
				<div class='invest_thead'><span>Лицевой счет</span></div>
				<div class='first'>
					<div>
					<span>
						№133457678
					</span>
					</div>
				</div>
					<div class='second'>
						<table style='position: relative;top: 20px;left: 20px;'>
							<tr>
								<td><span style='float:left'>Информация по счету:</span>
									<span class='dotted1'></span>
								</td>
								<td>
									
								</td>
							</tr>
							<tr>
									<td>
										<span style='float:left'>Валюта:</span>
											<span class='dotted2' style='width: 92px;'>
											</span>
									</td>
									<td>
										USD
									</td>
							</tr>
							<tr>
								<td>Общий баланс:<span class='dotted2'></span></td>
								<td>{$usr_money}</td>
							</tr>
						</table>
				</div>
			</div>
</div>


<form action='https://sci.interkassa.com/' name="payment" method="post" accept-charset="UTF-8" >
<input type="hidden" name="ik_co_id" value="5450fd49bf4efca91280c8a3" /> 
<input type="hidden" name="ik_pm_no" value="12" /> 
<input type="hidden" name="ik_desc" value="Payment Description" /> 

		<div id='invest_table'>
			<div style='margin-bottom: 20px;'>
				<span style='position: relative;top: -14px;'>Введите сумму в $:</span>
				<input type='text' class='text-input' name='ik_am' style='margin-left: 67px;width: 257px;height:34px'/>
			</div>
			<button type='submit' id='invest_do'><span>Инвестировать в проект</span></button> 
		<a href='/users/{$ids}' id='invest_btn'><span>Вернуться в ЛИЧНЫЙ КАБИНЕТ</span></a> 
		</div>
		
</form>
