<div id='underline'>
	<span></span>
</div>
			<h2 style='margin-top:60px;margin-bottom:60px;text-align:center'>Заявка на вывод средств</h2>
			
			
			
			
			
<div class='kab-block'>
	<div id='gen_pamm'>
		<span>Инвестиционные счета</span>
	</div>
	
	
	
	
	
	
	
	 {foreach key=tid item=pamm from=$pamms}
	<!-- TTTTTTTTTTTTTTTTUUUUUUUUUUUUUUUUUUUUUUUTTTTTTTTTTTTTTTTTTTAAAAAAAAAAAAAAAAAAAA -->
	<div class='pamms_div'>
	<div id='name_div'>
	<a href='/users/{$is_auth}/pamm.html'> <img style='margin:4px' src='{$pamm.image_url}'/></a>
	
	
	
	</div>
	
	<table cellspacing="0" cellpadding="0">
			<tr ><td style='width:135px;border:1px solid #CCCCCC;border-top: 0;'>
					<table style='width:100%'>
						<tr><td style='height: 60px;'><span id='invest_nymber'>№{$pamm.id}</span></td></tr>
						<tr><td style='background:#F5F5F5;height:64px;'> <object type="application/x-shockwave-flash" data="http://forex.ri4.biz/includes/cabinet-menu-4.swf" height="40" style="visibility: visible;margin-left: 9px;" width='45'></object><a class='invest_A' href=''><span style=''>История</span></a></td></tr>
					</table>
				</td>
			
				<td style='width:180px;border-right:1px solid #CCCCCC;border-bottom:1px solid #CCCCCC'>
							<p style='text-align: center;'>Прибыль проекта</p>
										<table style='margin-left: 14px;'>
							<tr>
								<td ><span style='float:left'>Инвестировано:</span>
									<span class='dotted1'></span>
								</td>
								<td>
									USD
								</td>
							</tr>
								<tr>
							<td><span style='float:left'>Выведено:</span>
									<span class='dotted2'></span>
								</td>
								<td>
									{$pamm.outpay}
								</td>
							</tr>
								<tr>
								<td><span style='float:left'>
									Начислено:</span><span class='dotted2'></span>
									
								</td>
								<td>
									{$pamm.inpay}
								</td>
							</tr>
									<tr>
								<td><span style='float:left'>
									Всего на счету:</span><span class='dotted1'></span>
									
								</td>
								<td>
									{$pamm.money}
								</td>
							</tr>
						</table>
				</td>
				
				 {foreach key=tid item=pam from=$pamms_related}
				<td style='width:180px;border-right:1px solid #CCCCCC;border-bottom:1px solid #CCCCCC'>
										<p style='text-align: center;'>Информация по счету</p>
										
										<table style='margin-left: 14px;'>
							<tr>
								<td><span style='float:left'>Инвестировано:</span>
									<span class='dotted1'></span>
								</td>
								<td>
									USD
								</td>
							</tr>
								<tr>
							<td><span style='float:left'>Выведено:</span>
									<span class='dotted2'></span>
								</td>
								<td>
						{$pam.outpay_user}
								</td>
							</tr>
								<tr>
								<td><span style='float:left'>
									Начислено:</span><span class='dotted2'></span>
									
								</td>
								<td>
									0
								</td>
							</tr>
									<tr>
								<td><span style='float:left'>
									Всего на счету:</span><span class='dotted1'></span>
									
								</td>
								<td>
									{$pam.money}
								</td>
							</tr>
						</table>
				</td>
				{/foreach}
				<td style='border-right:1px solid #CCCCCC;border-bottom:1px solid #CCCCCC''>
					<a href='/users/{$ids}/outpay.html' style='color:#000;padding-left:34px' class='money'>Вывести средства</a>
					<a href='/users/{$ids}/invest.html' style='font-weight:normal;position:relative;top:16px;' class='button_box'><span>Пополнить СЧЕТ</span></a>
				</td>
			</tr>
			<tr>
				<td colspan='4' style='text-align:center;background:#CCCCCC;border-right:1px solid #CCCCCC;border-left:1px solid #CCCCCC;border-bottom:1px solid #CCCCCC'>Дата окончания инвестиционного периода <span>{$pamm.date_out}</span></td>
			</tr>
		</table>
	
	</div>
	{/foreach}
</div>

			<div>
		

<div class='investl_block' style='width:400px;float:left' >
	<div id='invest_head'><span>ПАММ - портфель</span></div>
	<div class='invest_thead'><img style='margin-top:4px;margin-left: 5px;' src="/images/panteon.png"/></div>
	
	
	<div class='first'>
		<div>
		<span>
			№133457678
		</span>
		</div>
	</div>
		<div class='second'>
<table style='position: relative;
top: 20px;
left: 20px;'>
		<tr>
			<td><span style='float:left'>Информация по счету:</span>
				<span class='dotted1'></span>
			</td>
			<td>
				
			</td>
		</tr>
			<tr>
		<td><span style='float:left'>Валюта:</span>
				<span class='dotted2' style='width: 92px;'></span>
			</td>
			<td>
				USD
			</td>
		</tr>
		<tr>
			<td>Общий баланс:<span class='dotted2'></span></td>
			<td>
			{$pamms_money}</td>
		
		</tr>
	</table>


	</div>
</div>



<div class='investl_block' style='width:400px;float:right' >
	<div id='invest_head'><span>Инвестиционный счет</span></div>
	<div class='invest_thead'><span>Лицевой счет</span></div>
	<div class='first'>
		<div>
		<span>
			№133457678
		</span>
		</div>
	</div>
		<div class='second'>
	<table style='position: relative;
top: 20px;
left: 20px;'>
		<tr>
			<td><span style='float:left'>Информация по счету:</span>
				<span class='dotted1'></span>
			</td>
			<td>
				
			</td>
		</tr>
			<tr>
		<td><span style='float:left'>Валюта:</span>
				<span class='dotted2' style='width: 92px;'></span>
			</td>
			<td>
				USD
			</td>
		</tr>
		<tr>
			<td>Общий баланс:<span class='dotted2'></span></td>
			<td>{$usr_money}</td>
		
		</tr>
	</table>

	</div>
</div>

<img id='invest_img' src='/images/invest_strelka.png'/>

</div>



<form id='invest_table' method='POST' action=''>
		<div style='margin-bottom: 20px;'>
			<span style='position: relative;top: -14px;'>Введите сумму в $:</span>
			<input type='text' class='text-input' name='pamm_reply' style='margin-left: 67px;width: 257px;height:34px'/>
		</div>
		<div style='display:table'>
			<span style='width:200px;display:inline-block;float:left;'>Введите код защиты
		от автоматической регистрации —
		цифры, отображенные
		в виде картинки</span>
		{captcha}
		</div>
<button id='invest_do'><span>Инвестировать в проект</span></button> 
<a href='/users/{$ids}' id='invest_btn'><span>Вернуться в ЛИЧНЫЙ КАБИНЕТ</span></a> 
</form>
