			 {php} if (stripos($_SERVER['REQUEST_URI'], "registration") != 1 ){{/php}	{literal}
				<script type="text/javascript" src="//vk.com/js/api/openapi.js?113"></script>
				{/literal}
				<!-- VK Widget -->
				
				
				<div>
				<div id='vk_div' style='max-height: 346px;margin-top:25px'>
					<img src='/images/vk1.png' class='test'/>

					<div style='display:none' id="vk_groups"></div>

				</div>
				{literal}
						<script type="text/javascript">
					VK.Widgets.Group("vk_groups", {mode: 0, width: "240", height: "300", color1: 'FFFFFF', color2: '2B587A', color3: '5B7FA6'}, 20003922);
						</script>
				{/literal}
					<div id='ok_div'>
						<img src='/images/ok1.png' class='test1'/>
						<div  style='display:none' id="ok_group_widget"></div>
					</div>
				{literal}
					<script>
						!function (d, id, did, st) {
						  var js = d.createElement("script");
						  js.src = "http://connect.ok.ru/connect.js";
						  js.onload = js.onreadystatechange = function () {
						  if (!this.readyState || this.readyState == "loaded" || this.readyState == "complete") {
							if (!this.executed) {
							  this.executed = true;
							  setTimeout(function () {
								OK.CONNECT.insertGroupWidget(id,did,st);
							  }, 0);
							}
						  }}
						  d.documentElement.appendChild(js);
						}(document,"ok_group_widget","50582132228315","{width:240,height:300}");
					</script>
				{/literal}
					<div id='face_div'>
							<img style="display:block" src='/images/face1.png' class='test2'/>
					<iframe  id='face_frame' src="//www.facebook.com/plugins/likebox.php?href=https%3A%2F%2Fwww.facebook.com%2FFacebookDevelopers&amp;width=240&amp;height=258&amp;colorscheme=light&amp;show_faces=true&amp;header=false&amp;stream=false&amp;show_border=true" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:240px; height:258px;display:none" allowTransparency="true"></iframe>
					</div>
					</div>
				{literal}
					<script type="text/javascript">
							$(document).ready(function(){
									$('.test').click(function(){
									$('#ok_group_widget').slideUp('slow');
									$('#face_frame').slideUp('slow');
										$('#vk_groups').slideToggle('slow');
									});
									$('.test1').click(function(){
									$('#face_frame').slideUp('slow');
									$('#vk_groups').slideUp('slow');
										$('#ok_group_widget').slideToggle('slow');
									});
									$('.test2').click(function(){
									$('#ok_group_widget').slideUp('slow');
									$('#vk_groups').slideUp('slow');
										$('#face_frame').slideToggle('slow');
									});
							});
					</script>
				{/literal}
{php}
		}			
{/php}
