<form action="/login" method="post" name="authform" style="margin:0px" target="_self" id="authform">
    <table class="authtable" width="100%" border="0" cellspacing="0" cellpadding="2">
        <tr>
            <td width=""><input autofocus name="login" placeholder='{$LANG.AUTH_LOGIN}' type="text" id="login" tabindex="1"/></td>
		                      
			        <td>                            
            
                                <a href="/registration" id='reg' tabindex="3"><span>Регистрация</span></a>
                         
                        </td>			
        </tr>
        <tr>
				<td valign="top"><input name="pass" placeholder='{$LANG.AUTH_PASS}' type="password" id="pass" tabindex="2"/></td>
			 <td width="13%" align="right"><input id="login_btn" type="submit" name="Submit" value="{$LANG.AUTH_ENTER}" tabindex="4"/></td>
				
        </tr>
		<tr>
		  <td width="87%">                            
                            {if $cfg.passrem}
                                <a href="/passremind.html" tabindex="5">{$LANG.AUTH_FORGOT}</a>
                            {/if}
          </td>
		</tr>
     </table>
</form>
