{php} if (stripos($_SERVER['REQUEST_URI'], "registration") != 1 ) { {/php}
<div class="block_wrap">
	<table id='statistic'>
		<tr>
			<td>№</td>
			<td>Валюта</td>
			<td>Средства</td>
			<td>Тип<br>обмена</td>
		</tr>
		{foreach item=result key=tid from=$inf_applications}
		<tr>
			<td class="colors">{$result.id}</td>
			<td class="colors">{$result.name_system}</td>
			<td class="colors">{$result.money_off}</td>
			<td class="colors">{$result.obmen}</td>
		</tr>
		{/foreach}
		
		
	</table>
</div>
{php}
	}
{/php}