{if $is_usr}
	<table cellspacing="5" border="0" class="mod_user_rating">
	{foreach key=tid item=usr from=$users}
		<tr>
			<td width="">
				<div>
					<a href="{$usr.profileurl}" class="nickname">{$usr.nickname}</a>
					<div class="rating">{$usr.count_ref}</div>
				</div>	
			</td>
		</tr>
	{/foreach}
	</table>
{else}
	<p>Нет данных для отображения.</p>
{/if}