<a href='/registration' id='reg_a' target='_self'>
	<span>
		Регистрация
	</span>
	<div id='blo4eg'>
		<div>
		<!-- <span>
			Текст который будет в блоке регистрации
			</span> -->
			<img style='margin-top: 15px;margin-left: 5px;' src='/images/devka.png'/>
		</div>
		
	</div>











</a>
