{*$smarty.server.HTTP_HOST}
{$smarty.server.REQUEST_URI*}
<ul class="mod_user_menu">
	<li>
			 <div id='usmenimg'><img alt="{$usr.nickname|escape:'html'}" class="usr_img" src="{$avatar}" /></div><a href="{profile_url login=$login}">{$nickname}<br>{$first_name}</a>
	</li>
	<li>	{assign var="profile_url" value="/users/$login"}
			<object type="application/x-shockwave-flash" data="/includes/cabinet-menu-11.swf" height="40" style="visibility: visible;" width='45'><param name="wmode" value="opaque" /></object> <a href="{profile_url login=$login}"{if $smarty.server.REQUEST_URI == $profile_url} class="active"{/if}><label></label><span>{$LANG.USERMENU_OPER}</span></a>
	</li>
    {if $is_billing}
       <li>
			<a href="{profile_url login=$login}#upr_p_balance" title="{$LANG.USERMENU_BALANCE}">{if $balance}{$balance}{else}0{/if}</a>
		</li>
    {/if}


	<li> 
	 <object type="application/x-shockwave-flash" data="/includes/cabinet-menu-7.swf" height="40" style="visibility: visible;" width='45'><param name="wmode" value="opaque" /></object>
		<a href="/users/{$id}/editprofile.html" {if $smarty.server.REQUEST_URI == "/users/$id/editprofile.html"} class="active"{/if} title="{$LANG.USERMENU_DANNYE}"><span>{$LANG.USERMENU_DANNYE}</span></a>
		
	</li>
	<li> 
		<object type="application/x-shockwave-flash" data="/includes/cabinet-menu-6.swf" height="40" style="visibility: visible;" width='45'><param name="wmode" value="opaque" /></object>
		<a href="/users/{$id}/invite.html" {if $smarty.server.REQUEST_URI == "/users/$id/invite.html"} class="active"{/if} title="{$LANG.USERMENU_DANNYE}"><span>{$LANG.USERMENU_DRUG}</span></a>
	</li>
	<li> 
		{if $newmsg.total}
		<object type="application/x-shockwave-flash" data="/includes/cabinet-menu-10.swf" height="40" style="visibility: visible;" width='45'><param name="wmode" value="opaque" /></object>
		
			<a class="has_new {if $smarty.server.REQUEST_URI == '/users/{$id}/messages{if !$newmsg.messages}-notices{/if}.html'}active{/if}" href="/users/{$id}/messages{if !$newmsg.messages}-notices{/if}.html" title="{$LANG.NEW_MESSAGES}: {$newmsg.messages}, {$LANG.NEW_NOTICES}: {$newmsg.notices}">{$LANG.USERMENU_MESS} <span>({$newmsg.total})</span></a>
		{else}
			<object type="application/x-shockwave-flash" data="/includes/cabinet-menu-10.swf" height="40" style="visibility: visible;" width='45'><param name="wmode" value="opaque" /></object>
		
			<a {if $smarty.server.REQUEST_URI == "/users/$id/messages-history.html"} class="active"{/if} href="/users/{$id}/messages-history.html"><span>{$LANG.USERMENU_MESS}</span></a>
		{/if}
		
	</li>
	{if $id == '1'}
	<li>
		<object type="application/x-shockwave-flash" data="/includes/cabinet-menu-10.swf" height="40" style="visibility: visible;" width='45'><param name="wmode" value="opaque" /></object>
		<a href="/users/{$id}/administration.html"><span>{$LANG.USERMENU_ADMINISTRATION}</span></a>
	</li>
	{/if}
	<li>
	<object type="application/x-shockwave-flash" data="/includes/cabinet-menu-8.swf" height="40" style="visibility: visible;" width='45'><param name="wmode" value="opaque" /></object>
		
		<a href="/logout"><span>{$LANG.USERMENU_EXIT}</span></a>
		
	</li>
</ul>
