<div class="block_wrap">
	<table id='statistic'>
		<!--tr><td style="text-align: center;font-weight: bold;font-size: 18px;" colspan="3"></td></tr-->
		<tr>
			<td>Валюта</td>
			<td>Курс</td>
			<td>Резерв</td>
		</tr>
{php}
$inDB   = cmsDatabase::getInstance();

$payment_table = $inDB->get_table('cms_user_type_payment','on_off="1" AND status="0"');
foreach($payment_table as $result){
	echo '<tr>';
	echo '<td class="colors">'.$result['name_sustem'].'</td>';
	echo '<td class="colors">'.($result['tax_money'] + 0.5).' %</td>';
	echo '<td class="colors">'.$result['payment_admin'].'</td>';
	echo '</tr>';
	
}
{/php}		
		
		
	</table>
</div>
